.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container-principal{
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-direction: column;
  background-color: rgba(75, 75, 75, 0.486);
  padding: 50px;
  margin: 50px;
  border-radius: 10px;
  width: 400px;
}

.container-jogos{
  background-color: aliceblue;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 25px 0px;
}

.jogo{
  width: 350px;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.jogo img{
  width: 50px;
}

.buscar{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  padding: 25px 0px;
  align-self: center;
}

.filtrar{
  width: 100px;
  color: white;
  font-weight: bold;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

#xbox{
  background-color: rgb(0, 148, 0);
}

#xbox:hover{
  background-color: rgb(0, 116, 0);
}

#ps{
  background-color: blue;
}

#ps:hover{
  background-color: rgb(0, 0, 156);
}

#nintendo{
  background-color: red;
}

#nintendo:hover{
  background-color: rgb(197, 0, 0);
}

.limparFiltro{
  background-color: white;
  font-weight: bold;
  border: none;
  height: 45px;
  width: 330px;
  border-radius: 5px;
  cursor: pointer;
}

.limparFiltro:hover{
  background-color: rgb(204, 204, 204);
}

#busca{
  width: 300px;
  background-image: url(../public/assets/lupa.png);
  background-size: 15px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-color: black;
  padding: 5px 30px;
  border: none;
  border-radius: 6px;
  align-self: center;
  color: white;
}

#busca::placeholder{
  text-decoration: underline;
}